<div class="container mt-5 mb-5">
  <h2 class="text-center mb-3">Apoyarte es nuestro compromiso: Auxilios de solidaridad Femseapto</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/creditoExtraordinario.webp" class="card-img-top img-custom" alt="Auxilio Lentes y Monturas">
          <a class="card-action">
            <i class="bi bi-eyeglasses"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Lentes y Monturas</h5>
            <p class="card-text">Apoyo económico para la adquisición de lentes oftálmicos y monturas para mejorar tu salud visual.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ayuda_mutua.jpg" class="card-img-top img-custom" alt="Auxilio Maternidad">
          <a class="card-action">
            <i class="bi bi-person-hearts"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Maternidad</h5>
            <p class="card-text">Apoyo económico para gastos relacionados con el embarazo, parto y cuidados del recién nacido.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/creditoCalamidad.webp" class="card-img-top img-custom" alt="Auxilio Calamidad">
          <a class="card-action">
            <i class="bi bi-exclamation-triangle-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Calamidad</h5>
            <p class="card-text">Apoyo económico en casos de emergencias, desastres naturales y situaciones imprevistas.</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/creditoConsumo.webp  " class="card-img-top img-custom" alt="Auxilio Escrituración">
          <a class="card-action">
            <i class="bi bi-file-earmark-text-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Escrituración</h5>
            <p class="card-text">Apoyo económico para gastos notariales y de escrituración en procesos de compra de vivienda.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- <div class="d-grid gap-2 mt-3 mx-auto">
    <button class="btn btn-primary" routerLink="/services/allowances">Ver todos los auxilios disponibles</button>
  </div>
</div> -->
