<div class="container mt-5 mb-5">
  <h2 class="text-center mb-3">Apoyarte es nuestro compromiso: Auxilios de solidaridad Femseapto</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/auxilioVivienda.webp" class="card-img-top img-custom" alt="Auxilio Vivienda">
          <a class="card-action">
            <i class="bi bi-house-gear-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Auxilio para Vivienda</h5>
            <p class="card-text">Recibe apoyo económico para gastos relacionados con tu vivienda y mejoras del hogar.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/auxilioEducacion.webp" class="card-img-top img-custom" alt="Auxilio Educación">
          <a class="card-action">
            <i class="bi bi-mortarboard-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Auxilio Educativo</h5>
            <p class="card-text">Apoyo económico para gastos educativos, útiles escolares y matrícula de estudios.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/auxilioSalud.webp" class="card-img-top img-custom" alt="Auxilio Salud">
          <a class="card-action">
            <i class="bi bi-heart-pulse-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Auxilio de Salud</h5>
            <p class="card-text">Asistencia económica para gastos médicos, medicamentos y tratamientos de salud.</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="col">
      <a routerLink="/services/allowances">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/auxilioCalamidad.webp" class="card-img-top img-custom" alt="Auxilio Calamidad">
          <a class="card-action">
            <i class="bi bi-shield-fill-exclamation"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Auxilio por Calamidad</h5>
            <p class="card-text">Apoyo económico en casos de emergencias y situaciones imprevistas.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3 mx-auto">
    <button class="btn btn-primary" routerLink="/services/allowances">Ver todos los auxilios disponibles</button>
  </div>
</div>
