<div class="container mt-5">
  <h1>Solicitudes de Auxilio</h1>

  <app-allowance-report *ngIf="userRole !== 4" />

  <div class="card">
    <p-toolbar styleClass="mb-1 gap-2">
      <ng-template pTemplate="left">
        <div class="input-container flex md:flex-row gap-3">
          <p-inputGroup>
            <input type="text" pInputText placeholder="Palabra clave" [formControl]="searchControl" />
            <button type="button" class="button" pButton label="Buscar" (click)="onSearch()"></button>
          </p-inputGroup>
          <p-inputGroup>
            <input type="text" pInputText placeholder="Fecha solicitud (01/01/2024)" [formControl]="dateControl" />
            <button type="button" class="button" pButton label="Buscar" (click)="onSearch()"></button>
          </p-inputGroup>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="input-container flex md:flex-row gap-3">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-outlined"
            (click)="onClear()"
            label="Limpiar"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>

    <p-table #dt2
      [value]="allowanceRequests"
      dataKey="id"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [loading]="loading"
      [lazy]="true"
      (onLazyLoad)="loadAllowanceRequests(($event.first ?? 0) / ($event.rows ?? 10) + 1, $event.rows ?? 10, searchQuery, dateQuery)"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['id', 'numeroDocumento', 'nombreAsociado', 'descripcion', 'fechaSolicitud']"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%">No.</th>
          <th style="width: 15%">No. Documento</th>
          <th style="width: 20%">Nombre Completo</th>
          <th style="width: 20%">Tipo de Auxilio</th>
          <th style="width: 25%">Descripción</th>
          <th style="width: 15%">Fecha de Solicitud</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-allowanceRequest let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ allowanceRequest.numeroDocumento }}</td>
          <td>{{ allowanceRequest.nombreAsociado }}</td>
          <td>{{ allowanceRequest.nombreTipoAuxilio }}</td>
          <td>{{ allowanceRequest.descripcion }}</td>
          <td>{{ allowanceRequest.fechaSolicitud | date: 'dd/MM/yyyy' }}</td>
          <td>
            <app-generate-allowance-request
              [userId]="allowanceRequest.id_usuario"
              [idSolicitudAuxilio]="allowanceRequest.id"
            ></app-generate-allowance-request>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No se encontraron solicitudes de auxilio.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
